<!DOCTYPE html>
<html>

<head>
    <meta charset="EUC-KR">
    <title>재난 종류</title>

    <script type="text/javascript">
        function setParentText() {
            opener.document.getElementById("pInput").value = document.getElementById("cInput").value
        }
    </script>

</head>

<body>
    <div ng-app="myapp" ng-controller="myCtrl2">
        <br>
        <b>
            <font size="5" color="gray">재난 종류 상세 선택</font>
        </b>
        <br><br>

        <script>
            for (var i = 0; i <= 18; i++) {
                document.write("<input type='checkbox' id='cInput'>");
                var data = "{{gridOption11[" + i + "].situation}}";
                document.write(data);
            }
        </script>
        <input type="button" value="전달하기" onclick="setParentText()">
        <br><br>
        <input type="button" value="창닫기" onclick="window.close()">
    </div>
</body>

</html>