<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>다중이용시설 경보발령시스템</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:500" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web:700,900" rel="stylesheet">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="../public/css/sb-admin-2.min.css" />

</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>Sorry</h1>
			</div>
			<h2>페이지에 접근할 수 있는 권한이 없습니다.</h2>
			<p>해당 서비스 페이지의 주소를 다시 확인하거나, 아래의 버튼을 눌러 로그인을 먼저 하시길 바랍니다.</p>
			<a href="/login">Go To Login Page</a>
		</div>
	</div>

</body>

</html>
