<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <title>다중이용시설 긴급경보방송시스템</title>
    <!-- Bootstrap -->
    <link href="../public/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../public/css/zTreeStyle.css" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="../public/css/sb-admin-2.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
    <script
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=500dc6eafdab7edec53ec66384f94f3e&libraries=services,clusterer,drawing"
        type="text/javascript"></script>
    <!-- 원하는 라이브러리 추가 -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-touch.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/3.2.6/ui-grid.js"></script>
    <link rel="styleSheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/3.2.6/ui-grid.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular-aria.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.8.0/js/xeditable.js"></script>
    <link rel="styleSheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.8.0/css/xeditable.css">
    <script src="/javascripts/table.js"></script>
    <script src="/javascripts/option.js"></script>
    <script type="text/javascript" src="../public/javascripts/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="../public/javascripts/jquery.ztree.core-3.5.js"></script>
    <script type="text/javascript" src="../public/javascripts/jquery.ztree.excheck-3.5.js"></script>

    <script language="javascript">
        function logo_info() {
            /*   접속 지역에 따라 달라지는 CI 표현 */
            var user_area = <%=user.area%>;
            var img_src;
            for (var i = 0; i <= 17; i++) {
                if (user_area == i) {
                    img_src = '../public/img/' + i + '_logo.png';
                }
            }
            return img_src;
        }

        function title_info() {
            var user_area = <%=user.area%>;
            var img_src;
            for (var i = 0; i <= 17; i++) {
                if (user_area == i) {
                    img_src = '../public/img/' + i + '_title.png';
                }
            }
            return img_src;
        }

        // ztree 선언
        var newJquery = $.noConflict(true);
        var setting = {
            check: {
                enable: true,
                nocheckInherit: true
            },
            data: {
                simpleData: {
                    enable: true
                }
            }
        };

        var zNodes = [{
                id: 1,
                pId: 0,
                name: "전 체",
                open: true
            },
            {
                id: 11,
                pId: 1,
                name: "중구"
            },
            {
                id: 111,
                pId: 11,
                name: "서울역(한국공항철도)",
                nocheck: true
            },
            {
                id: 112,
                pId: 11,
                name: "서울역(서울교통공사)",
                nocheck: true
            },
            {
                id: 12,
                pId: 1,
                name: "구로구"
            },
            {
                id: 121,
                pId: 12,
                name: "신도림역",
                nocheck: true
            },
            {
                id: 122,
                pId: 12,
                name: "(구로)롯데마트 구로점",
                nocheck: true
            },
            {
                id: 123,
                pId: 12,
                name: "(구로)현대백화점 디큐브시티",
                nocheck: true
            },
            {
                id: 124,
                pId: 12,
                name: "(구로)CGV",
                nocheck: true
            },
            {
                id: 13,
                pId: 1,
                name: "영등포구"
            },
            {
                id: 131,
                pId: 13,
                name: "(영등포)로데오 왁",
                nocheck: true
            },
            {
                id: 132,
                pId: 13,
                name: "(영등포)아이에프씨몰(IFC Mall)",
                nocheck: true
            },
            {
                id: 14,
                pId: 1,
                name: "서초구"
            },
            {
                id: 141,
                pId: 14,
                name: "서울남부터미널",
                nocheck: true
            },
            {
                id: 142,
                pId: 14,
                name: "서울고속버스터미널",
                nocheck: true
            }
        ];

        var code;

        function nocheckNode(e) {
			var zTree = newJquery.fn.zTree.getZTreeObj("treeDemo"),
			nocheck = e.data.nocheck,
			nodes = zTree.getSelectedNodes();
			if (nodes.length == 0) {
				alert("Please select one node at first...");
			}

			for (var i=0, l=nodes.length; i<l; i++) {
				nodes[i].nocheck = nocheck;
				zTree.updateNode(nodes[i]);
			}
		}

        function setCheck() {
            var zTree = newJquery.fn.zTree.getZTreeObj("#treeDemo"),
                py = $("#py").attr("checked") ? "p" : "",
                sy = $("#sy").attr("checked") ? "s" : "",
                pn = $("#pn").attr("checked") ? "p" : "",
                sn = $("#sn").attr("checked") ? "s" : "",
                type = {
                    "Y": py + sy,
                    "N": pn + sn
                };
            zTree.setting.check.chkboxType = type;
            showCode('setting.check.chkboxType = { "Y" : "' + type.Y + '", "N" : "' + type.N + '" };');
        }

        function showCode(str) {
            if (!code) code = $("#code");
            code.empty();
            code.append("<li>" + str + "</li>");
        }

        newJquery(document).ready(function () {
            newJquery.fn.zTree.init($("#treeDemo"), setting, zNodes);
            setCheck();
            newJquery("#nocheckTrue").bind("click", {
                nocheck: true
            }, nocheckNode);
            newJquery("#nocheckFalse").bind("click", {
                nocheck: false
            }, nocheckNode);
            newJquery("#py").bind("change", setCheck);
            newJquery("#sy").bind("change", setCheck);
            newJquery("#pn").bind("change", setCheck);
            newJquery("#sn").bind("change", setCheck);
        });
    </script>

    <style>
        #checkboxTest label.selected {
            border-color: #4e73df
        }

        #checkboxTest label.selected {
            border-color: #4e73df
        }
    </style>

</head>

<body id="page-top" class="sidebar-toggled">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <div class="navbar-default sidebar toggled" role="navigation">
            <!-- Sidebar -->
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">
                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/index">
                    <div class="sidebar-brand-icon">
                        <img id="logo" src="" style="height: 50px;">
                        <script>
                            document.getElementById('logo').src = logo_info()
                        </script>
                    </div>
                    <div class="sidebar-brand-text mx-3">
                        <img id="title" src="" style="height: 40px; margin-left:-10px;">
                        <script>
                            document.getElementById('title').src = title_info()
                        </script>
                    </div>
                </a>
                <!-- Divider -->
                <hr class="sidebar-divider my-0">
                <!-- Nav Item - Dashboard -->
                <li class="nav-item" style="margin-top:30px; border-left: 5px solid #4e73df; background-color:#eff1f2">
                    <a class="nav-link" href="/index" style="text-align: center;">
                        <i class="fas fa-fw fa-exclamation-triangle"></i>
                        <span>경보 발령</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="/result" style="text-align: center;">
                        <i class="fas fa-fw fa-chart-bar"></i>
                        <span>발령 결과</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.ejs" style="text-align: center;">
                        <i class="fas fa-fw fa-wrench"></i>
                        <span>장비 검사</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.ejs" style="text-align: center;">
                        <i class="fas fa-fw fa-history"></i>
                        <span>이력 조회</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.ejs" style="text-align: center;">
                        <i class="fas fa-fw fa-folder-plus"></i>
                        <span>그룹 추가</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.ejs" style="text-align: center;">
                        <i class="fas fa-fw fa-microphone"></i>
                        <span>TTS 편집</span>
                    </a>
                </li>
                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block" style="margin-top: 30px;">
                <!-- Sidebar Toggler (Sidebar) -->
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>
            </ul>
        </div>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div class="d-flex flex-column" id="content-wrapper">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Sidebar Toggle (Topbar) -->
                    <button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop">
                        <i class="fa fa-bars"></i>
                    </button>
                    <h1 class="h3 mb-0 text-gray-800" style="font-weight: bold; margin-left:10px;">다중이용시설
                        긴급경보방송시스템</h1>
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                                data-toggle="dropdown" href="#" id="searchDropdown" role="button">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div aria-labelledby="searchDropdown"
                                class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input aria-describedby="basic-addon2" aria-label="Search"
                                            class="form-control bg-light border-0 small" placeholder="Search for..."
                                            type="text">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                        <li class="nav-item dropdown no-arrow">
                            <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                                data-toggle="dropdown" href="#" id="searchDropdown" role="button">
                                <span class="text-s font-weight-bold text-primary text-uppercase mb-1"
                                    id="clock"></span>
                            </a>
                        </li>
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                                data-toggle="dropdown" href="#" id="userDropdown" role="button">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small" style="font-size:inherit;">
                                    접속자:
                                    <%=user.username%>
                                    님
                                    <i class="fas fa-fw fa-chevron-down"></i>
                                </span>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div aria-labelledby="userDropdown"
                                class="dropdown-menu dropdown-menu-right shadow animated--grow-in">
                                <a class="dropdown-item" href="/logout">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <script>
                        <% if(locals.user){%>
                        var userId =
                            <%=user.id%>;
                        var idDesc = document.getElementById("loginDesc");

                        window.user = {};
                        window.user.id = userId;
                        <% }%>
                    </script>
                    <!-- Content Row -->

                    <div class="row">
                        <div class="col-6">
                            <!-- 화면 반 나누기 -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <span class="m-0 font-weight-bold text-primary">발령 시간</span>
                                </div>
                                <div class="col-12 btn-group-toggle" style="padding: 5px;  text-align: center; "
                                    id="checkboxTest">
                                    <label class="btn btn-default" style="font-weight:600; margin-right: 7px;">
                                        <input type="checkbox" name="check">즉 시
                                    </label>
                                    <label class="btn btn-default" style="font-weight: 600;"> 예약
                                        <select id="year">
                                            <option value="2019">2019</option>
                                            <option value="2020">2020</option>
                                        </select>년
                                        <select id="amonth"></select>월
                                        <select id="aday" name="day"></select>일
                                        <select id="ahour"></select>시
                                        <select id="aminute"></select>분
                                    </label>
                                </div>
                            </div>
                            <!-- Modify janjune Tab -->
                            <!-- <div class="col-12" style="float: left;"> -->
                            <div ng-app="myapp" ng-controller="myCtrl" class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <span class="m-0 font-weight-bold text-primary" style="float: left;">지역 선택</span>
                                </div>
                                <div class="col-12" style="padding: 10px;" id="checkboxTest" name="checkboxTest">
                                    <div class="tab">
                                        <button class="tablinks" id="defaultOpen" onclick="openTab(event, 'location')"
                                            style="width: 94%;">지역별</button>
                                        <button class="tablinks" onclick="openTab(event, 'devide')"
                                            style="width: 94%;">분류별</button>
                                        <button class="tablinks" onclick="openTab(event, 'group')"
                                            style="width: 94%;">그룹별</button>
                                    </div>

                                    <div class="tabcontent" id="location">

                                        <% if(locals.user){%>
                                        <% if((locals.user.area) == 0 ){%>
                                        <p class="btn-group-toggle" style="padding: 10px;">
                                            <label class="btn btn-default">
                                                <input type="checkbox" name="checkAll">전 체
                                            </label> <br />
                                            <script>
                                                for (var i = 0; i <= 16; i++) {
                                                    document.write("<label class='btn btn-default'>");
                                                    document.write("<input type='checkbox' name='checkOne'>");
                                                    var data = "{{gridOption1[" + i + "].location}}"
                                                    document.write(data);
                                                    document.write("</label>")
                                                }
                                            </script>
                                        </p>
                                        <% }%>
                                        <% }  %>

                                        <% if(locals.user){%>
                                        <% if((locals.user.area) == 1 ){%>
                                            {{gridOption3}}
                                            <ul id="treeDemo" class="ztree">
                                                </ul>
                                       
                                        <% }%>
                                        <% }  %>

                                        <% if(locals.user){%>
                                        <% if((locals.user.area) == 4 ){%>
                                        <p class="btn-group-toggle" style="padding: 10px;">
                                            <label class="btn btn-default">
                                                <input type="checkbox" name="checkAll">전 체
                                            </label> <br />
                                            <script>
                                                for (var i = 42; i <= 51; i++) {
                                                    document.write("<label class='btn btn-default'>");
                                                    document.write("<input type='checkbox' name='checkOne'>");
                                                    var data = "{{gridOption1[" + i + "].detail_location}}"
                                                    document.write(data);
                                                    document.write("</label>")
                                                }
                                            </script>
                                        </p>
                                        <% }%>
                                        <% }  %>
                                    </div>

                                    <!-- 분류별 -->
                                    <div class="tabcontent" id="devide">
                                        {{gridOption2}}
                                        <!-- <ul id="treeDemo" class="ztree">
                                        </ul> -->
                                    </div>

                                    <script>
                                    </script>

                                    <!-- 그룹별 -->
                                    <div class="tabcontent" id="group">
                                        <ul id="treeDemo" class="ztree">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- </div> -->

                            <div class="col-5 card shadow mb-4" style="float: left; height: 230px;">
                                <div class="card-header py-3">
                                    <span class="m-0 font-weight-bold text-primary">방송 종류</span>
                                </div>
                                <div class="col-12" id="checkboxTest" style="padding: 10px;">
                                    <p class="btn-group-toggle">
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="check" id="1">기상특보
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="check" id="2">전국
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="check" id="3">지역
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="check" id="4">기타경보
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="check" ie="5">민방위
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="check" id="6">테스트
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="check" id="7">기상추가
                                        </label>
                                    </p>
                                </div>
                            </div>

                            <div class="col-4 card shadow mb-4" style="float: left; height: 230px;">
                                <div class="card-header py-3">
                                    <span class="m-0 font-weight-bold text-primary">통신 종류</span>
                                </div>
                                <div class="col-12" id="checkboxTest" style="padding: 20px;">
                                    <p class="btn-group-toggle">
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="check" id="internet">인터넷
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="check" id="satellite">위성
                                        </label><br />
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="check" id="dmb">DMB
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="check" id="cdma">CDMA
                                        </label>
                                    </p>
                                </div>
                            </div>

                            <div class="col-3 card shadow mb-4" style="float: right; height: 230px;">
                                <div class="card-header py-3">
                                    <span class="m-0 font-weight-bold text-primary">방송 종류</span>
                                </div>
                                <div class="col-12" id="checkboxTest" style="padding: 10px; text-align: center;">
                                    <p class="btn-group-toggle">
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="check">TTS
                                        </label><br />
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="check">메시지
                                        </label><br />
                                        <label class="btn btn-default">
                                            <input type="checkbox" name="check">사이렌
                                        </label>
                                    </p>
                                </div>
                            </div>
                            <!-- Modify janjune Tab -->

                        </div>

                        <div class="col-6">
                            <!-- Project Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <span class="m-0 font-weight-bold text-primary" style="float: left;">GIS로
                                        선택</span>
                                </div>
                                <div id="map" style="height: 600px;"></div>
                            </div>
                            <div class="col-12" style="text-align:center;"> <button class="btn btn-primary"
                                    name="command">선택
                                    내용 확인</button>
                                <button class="btn btn-primary" name="checkCancel" onclick="clear_onclick()">조작
                                    초기화</button>
                                <button class="btn btn-primary">시험 방송 전송</button>
                                <button class="btn btn-danger" type="submit">실제 방송 전송</button>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            <!--modal-->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; KETI 2019</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Modify janjune DAUM Map add Makers -->
    <script>
        var map = new daum.maps.Map(document.getElementById('map'), { // 지도를 표시할 div
            center: new daum.maps.LatLng(36.2683, 127.6358), // 지도의 중심좌표
            level: 14 // 지도의 확대 레벨
        });
        // 마커 클러스터러를 생성합니다
        var clusterer = new daum.maps.MarkerClusterer({
            map: map, // 마커들을 클러스터로 관리하고 표시할 지도 객체
            averageCenter: true, // 클러스터에 포함된 마커들의 평균 위치를 클러스터 마커 위치로 설정
            minLevel: 10 // 클러스터 할 최소 지도 레벨
        });
        // 데이터를 가져오기 위해 jQuery를 사용합니다
        // 데이터를 가져와 마커를 생성하고 클러스터러 객체에 넘겨줍니다
        $.get("/map/location.json", function (data) {
            // 데이터에서 좌표 값을 가지고 마커를 표시합니다
            // 마커 클러스터러로 관리할 마커 객체는 생성할 때 지도 객체를 설정하지 않습니다
            var markers = $(data.positions).map(function (i, position) {
                return new daum.maps.Marker({
                    position: new daum.maps.LatLng(position.lat, position.lng)
                });
            });
            // 클러스터러에 마커들을 추가합니다
            clusterer.addMarkers(markers);
        });
    </script>
    <!-- Modify janjune DAUM Map add Makers -->
    <script>
        function openTab(evt, select) {
            var i,
                tabcontent,
                tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document
                .getElementById(select)
                .style
                .display = "block";
            evt.currentTarget.className += " active";
        }
        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>

    <!-- Bootstrap core JavaScript-->
    <script src="../public/vendor/jquery/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="../public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="../public/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="../public/javascripts/sb-admin-2.min.js"></script>
</body>

</html>