<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>다중이용시설 긴급경보방송시스템</title>

    <!-- Custom fonts for this template-->
    <link href="../public/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <!--     Custom styles for this template-->
    <link href="../public/css/sb-admin-2.min.css" rel="stylesheet">

    <script language="javascript">
        function printTime() {
              var clock = document.getElementById("clock");            // 출력할 장소 선택
              var now = new Date();                                                  // 현재시간
              var nowTime = now.getFullYear() + "-" + (now.getMonth()+1) + "-" + now.getDate() + "&nbsp;&nbsp;" + now.getHours() + ":" + now.getMinutes() + ":" + now.getSeconds();
              clock.innerHTML = nowTime;           // 현재시간을 출력
              setTimeout("printTime()",1000);         // setTimeout(“실행할함수”,시간) 시간은1초의 경우 1000
            }
            window.onload = function() {                         // 페이지가 로딩되면 실행
            printTime();
            }

            
               /*   접속 지역에 따라 달라지는 CI 표현 */
    function logo_info() {
    var user_area = <%=user.area%>;
    var img_src;
        for (var i = 1; i <= 18; i++) {
            if (user_area == i) {
                img_src = '../public/img/' + i + '_logo.png';
                }
            }
            return img_src;
        }

        function title_info() {
            var user_area = <%=user.area%>;
            var img_src;
            for (var i = 1; i <= 18; i++) {
                if (user_area == i) {
                    img_src = '../public/img/' + i + '_title.png';
                    }
                }
                return img_src;
            }

            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);

            // Draw the chart and set the chart values
            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ['Result', 'All Result Record'],
                    ['Success', 27],
                    ['failure', 8],
                    ['waiting', 15]
                    ]);
                    
                    // Optional; add a title and set the width and height of the chart
                    var options = {'title':'Result Record', 'width':550, 'height':400};
                    // Display the chart inside the <div> element with id="piechart"
                        var chart = new google.visualization.PieChart
                        (document.getElementById('piechart'));
                        chart.draw(data, options);
                        }
            
</script>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/index">
                <div class="sidebar-brand-icon">
                    <img id="logo" src="" style="height: 50px;">
                    <script>document.getElementById('logo').src=logo_info()</script>
                </div>
                <div class="sidebar-brand-text mx-3">
                    <img id="title" src="" style="height: 40px; margin-left:-10px;">
                    <script>document.getElementById('title').src=title_info()</script>
                </div>
            </a>


            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item" style="margin-top:30px;">
                <a class="nav-link" href="/index" style="text-align: center;">
                    <i class="fas fa-fw fa-exclamation-triangle"></i>
                    <span>경보 발령</span></a>
            </li>

            <li class="nav-item" style="border-left: 5px solid #4e73df; background-color:#eff1f2;">
                <a class="nav-link collapsed" href="/result" style="text-align: center;">
                    <i class="fas fa-fw fa-chart-bar"></i>
                    <span>발령 결과</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/check_terminal" style="text-align: center;">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>장비 검사</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/history" style="text-align: center;">
                    <i class="fas fa-fw fa-history"></i>
                    <span>이력 조회</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/edit_tts" style="text-align: center;">
                    <i class="fas fa-fw fa-microphone"></i>
                    <span>TTS 편집</span></a>
            </li>



            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block" style="margin-top: 30px;">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>


                    <h1 class="h3 mb-0 text-gray-800" style="font-weight: bold; margin-left:10px;">다중이용시설
                        긴급경보방송시스템-중앙경보통제소</h1>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                            aria-label="Search" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <span class="text-s font-weight-bold text-primary text-uppercase mb-1" id="clock"></span>
                            </a></li>


                        <div class="topbar-divider d-none d-sm-block"></div>


                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                                    <%=user.username%> 님
                                    <i class="fas fa-fw fa-chevron-down"></i></span>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">

                                <a class="dropdown-item" href="/logout">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <br />
                    <!-- Content Row -->
                    <div class="col-12">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3"><span class="m-0 font-weight-bold text-primary" style="float: left;">발령
                                    결과</span>
                            </div>
                            <div class="card-body">


                            </div>
                        </div>
                    </div>

                    <div class="col-8">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3"><span class="m-0 font-weight-bold text-primary" style="float: left;">방송
                                    통계</span>
                            </div>
                            <div class="card-body">
                                <table border="1" style="text-align: center; float: left;">
                                    <tr>
                                        <th>경보발령수</th>
                                        <th>응답단말</th>
                                        <th>결과단말</th>
                                        <th>전체통신이상</th>
                                    </tr>
                                    <tr>
                                        <td>20</td>
                                        <td style="color:#4e73df; font-weight: bold;">10</td>
                                        <td>0</td>
                                        <td style="color: red; font-weight: bold;">10</td>
                                    </tr>
                                </table>

                                <div id="piechart" style="float: right;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; KETI 2019</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    <!-- Bootstrap core JavaScript-->
    <script src="../public/vendor/jquery/jquery.min.js"></script>
    <script src="../public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../public/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../public/javascripts/sb-admin-2.min.js"></script>


</body>

</html>