<html>
  <head>
    
      <script type="text/javascript" src="../public/javascripts/jquery-1.4.4.min.js"></script>
 

    </head>
<body>
  <input type='checkbox' name='chklist' value="1" />chk1
  <input type="checkbox" name='chklist' value="2" />chk2
  <input type="checkbox" name='chklist' value="3" />chk3

  <a href="javascript: array_chk();">Ajax 연동</a>
</body>



<script type="text/javascript">
  //Ajax 연동
  function array_chk() {
    var para2 = [];
    $("input[name='chklist']:checked").each(function (i) {
      para2.push($(this).val());
    });

    var postData = {
      "para1": "para1",
      "chklist": para2
    };

    $.ajax({
      url: 'test.html',
      type: 'post',
      timeout: 1000,
      data: postData,
      traditional: true,
      error: function () {
        alert("네트워크가 불안정합니다.");
      },
      success: function (obj) {
        alert(obj);
      }
    });
  }
</script>
 </html>